/* variables */
:root {
    --MIYellow: #fffc1b;
    --MISilver: #bfbdbe;
}

/*fonts*/
/*todo sort otf fonts*/
@font-face {
    font-family: "arkitech light";
    src: url("../fonts/Arkitech Light.eot");
    src:
            url("../fonts/arkitech_light-webfont.woff") format("woff"),
            /*url("../fonts/Arkitech Light.otf") format("opentype"),*/
            url("../fonts/Arkitech Light.svg") format("svg");
}
@font-face {
    font-family: "arkitech medium";
    src: url("../fonts/Arkitech Medium.eot");
    src:
            url("../fonts/arkitech_medium-webfont.woff") format("woff"),
            /*url("../fonts/Arkitech Medium.otf") format("opentype"),*/
            url("../fonts/Arkitech Medium.svg") format("svg");
}
/* general css */
body {
    font-family: "arkitech light", "Droid Sans", SansSerif, serif;
    background: url("../assets/carbon.jpg") repeat;
    background-size: 50%;
    width: 100%;
}

/*header*/
#header {
    width: 100%;
    background: #000;
}
#header .container{
    max-width: 1200px;
    margin: 0 auto;
}
#header .container img {
    display: inline-block;
    width: 300px;
    padding: 10px;
    cursor: pointer;
}
#header .container .detail {
    display: inline-block;
    color: var(--MISilver);
    width: 50%;
    float: right;
    text-align: right;
    padding: 10px;
    margin-top: 25px;
}
#header .container .detail span {
    display: block;
    width: 100%;
}
#header .container .detail span a {
    color: var(--MIYellow);
    text-decoration: none;
}
#header .container .detail span a:hover {
    color: var(--MIYellow);
}

/*Navigation*/
#mobile-nav {
    display: none;
}
#nav {
    width: 100%;
    background: var(--MISilver);
}
#nav ul {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}
#nav ul li {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #000;
    background: #fff;
    line-height: 40px;
}

#nav ul li.current {
    text-decoration: underline;
    font-weight: bold;
}

#nav ul li:hover {
    background: #000;
    color: var(--MIYellow);
    cursor: pointer;
}

/*content*/
#content {
    max-width: 1200px;
    width: 100%;
    background: #fff;
    margin: 10px auto;
    height: 1000px;
}

/*resposnsive*/
@media screen and (max-width: 1200px) {
    #content {
        width: 96%;
        margin: 10px 2%;
    }
}
@media screen and (max-width: 1060px) {
    #nav ul li {
        width: unset;
        padding: 0 10px;
    }
}
@media screen and (max-width: 850px) {
    #header .container img {
        display: block;
        margin: 0 auto;
    }
    #header .container .detail {
        display: block;
        margin: 0 auto;
        float: unset;
        text-align: center;
        width: unset;
    }
}
@media screen and (max-width: 768px) {
    /*header font*/

    /*mobile navigation*/
    #mobile-nav {
        width: 100%;
        display: block;
        height: 52px;
    }
    #nav ul {
        padding-bottom: 0;
    }
    #mobile-nav .nav-button {
        padding: 5px 0;
        display: block;
        width: 100px;
        margin: 0 auto;
    }
    #mobile-nav .img-border {
        display: block;
        margin: 0 auto;
        border: 1px solid #000;
        border-radius: 100%;
        width: 40px;
        height: 40px;
    }
    #mobile-nav img {
        display: block;
        margin: 0 auto;
        width: 30px;
        padding: 5px;
    }
    #nav ul li {
        display: block;
        margin: 2px;
    }
}

@media screen and (max-width: 450px) {
    #header .container .detail {
        font-size: 12px;
    }
}